@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-flaviotte: "Flaviotte", sans-serif;
  --font-bebas: "Bebas_Neue", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-roboto);
  }
}

/* group-hover does not work on mobile devices */
.dropdown-parent:hover .dropdown-child {
  opacity: 100;
  visibility: visible;
}

@keyframes slide-up {
  from {
    transform: translateY(5%);
    opacity: 0.8;
    scale: 0.95;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-in-out forwards;
}
