@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-flaviotte: "Flaviotte", sans-serif;
  --font-inter-tight: "Inter_Tight", sans-serif;
  --font-gilroy-bold: "Gilroy-Bold", sans-serif;
  --font-gilroy-medium: "Gilroy-Medium", sans-serif;
  /* --color-slate-900: #1e0059;
  --color-slate-100: #f3f3f6;
  --color-slate-50: #faf9fb; */
}

@layer base {
  body {
    font-family: var(--font-roboto);
  }
}

/* group-hover does not work on mobile devices */
.dropdown-parent:hover .dropdown-child {
  opacity: 100;
  visibility: visible;
}

@keyframes slide-up {
  from {
    transform: translateY(5%);
    opacity: 0.8;
    scale: 0.95;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-in-out forwards;
}
