@import "tailwindcss";
@import "@fontsource-variable/urbanist";
@import "@fontsource/manrope";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Urbanist Variable", sans-serif;
  font-weight: 600;
}

/* group-hover does not work on mobile devices */
.dropdown-parent:hover .dropdown-child {
  opacity: 100;
  visibility: visible;
}
